name: Bash CI

on:
  push:
    branches:
      - main
      - feature/*
  pull_request:

jobs:
  validate-bash:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make scripts executable
        run: chmod +x scripts/*.sh

      - name: Run shellcheck
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck
          shellcheck scripts/*.sh

